.rental-items-filter {
  margin-top: 20px;
}
.rental-items-filter input.form-radio {
  display: none;
}
.rental-items-filter.form-inline .radio label {
  padding: 2px 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: color 0.3s ease;
  color: #16c1f3;
}
.rental-items-filter.form-inline .radio label.active {
  color: #212121;
}
.rental-items-filter.form-inline .radio label.active::before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
.rental-items-filter.form-inline .radio label::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #16c1f3;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}